[submodule "quotes-service"]
	path = quotes-service
	url = https://github.com/vargadan/quotes-service
[submodule "report-order-manager"]
	path = report-order-manager
	url = https://github.com/vargadan/report-order-manager
[submodule "dummy-report-factory"]
	path = dummy-report-factory
	url = https://github.com/vargadan/dummy-report-factory
[submodule "config-server"]
	path = config-server
	url = https://github.com/vargadan/config-server
[submodule "report-config-server"]
	path = report-config-server
	url = https://github.com/vargadan/report-config-server
[submodule "report-configuration"]
	path = report-configuration
	url = https://github.com/vargadan/report-configuration
[submodule "report-uploader"]
	path = report-uploader
	url = https://github.com/vargadan/report-uploader
[submodule "report-repository"]
	path = report-repository
	url = https://github.com/vargadan/report-repository
[submodule "report-renderer"]
	path = report-renderer
	url = https://github.com/vargadan/report-renderer
[submodule "environment"]
	path = environment
	url = https://github.com/vargadan/reportengine-environment
